@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color:#1C1C1C;
    color:white;
    font-family:'Montserrat';
    font-size:16px;
    margin:0;
}

#mynavbar{
    background-color:#1C1C1C !important;
    font-size: 1.5em;
}

#mynavbar a{
    color:white;
    font-size:0.8em;
}

.navbar-brand{
    width:8em;
    height:auto;
}

#sush-img{
    width:75%;
    height:auto;
}

.welcome{
    margin-top: 15%;
}

#welcome-text{
    width:70%;
    height:auto;
}

#me-panda{
    width:80%;
    height:auto;
}

li{
    text-decoration: none;
    list-style-type: none;
}

p{
  text-align: justify;
  text-justify: inter-word;
}

.social{
    font-size:20vw;
	padding:0 1.5% 5% 1.5%;
	color:#363738;
}

#allMedia h4{
	font-size:4vw;
}

.social:hover{
	color:#0c8776;
}
