body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* ------------- Main Name / Media landing section ------------ */
.landing-page{
    min-width: 100%;
    background:black url("images/background.svg") no-repeat fixed;
    background-size:cover;
    min-height: 60vh;
    max-height: 80vh;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-col{
    display: flex;
    justify-items: start;
    height: 100%;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#myName{
    font-size: calc(1rem + 0.9vw);
    color:rgb(186, 251, 229);
    margin:0;
    font-weight: 200;
    padding-bottom: 0.5rem;
    
}

.name{
    font-size: calc(2.5rem + 2vw);
    color:#B9FDF9;
    font-weight: 700;
    text-shadow: 0 0 1.5px rgb(1, 245, 255);
}

.icon{
    width: calc(3rem + 1vw);
    padding: 0.5rem;
}

.icon:hover{
    width: calc(3.5rem + 1.5vw);
}
/* --------------------- Projects Section -------------------------- */
.projects,.about{
    display: flex;
    flex-direction: column;
    background: #FAFCFF;
    min-width:90%;
}

.titles,.pro-name{
    font-size: calc(3rem + 1vw);
    font-weight: 700;
    padding:2rem;
    margin:0;
}

.pro-name{
    font-size:calc(1.5rem + 1vw);
    padding-bottom: 0;
}

.pro-name:hover{
    color:#1DB954;
    font-size:calc(2rem + 1vw);
}

.pro-desc{
    padding-top: 0;
    padding:2rem;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border-radius: 3rem;
    margin-bottom: 1.2rem;
    min-height:15vh;
    overflow:hidden;
    background:linear-gradient(90deg,rgba(7, 180, 203, 0.3),rgba(95, 246, 213, 0.3)), 
                                url("images/image.jpg") no-repeat 15% 65% fixed;
}

.card a{
    text-decoration: none;
    color:black;
}

.card:hover{
    background:url('images/image.jpg') no-repeat center;
}


#self{
    border-radius: 50%;
    width: 15vw;
}

.personal{
    display:flex;
    align-items: center;
}

.proj-link-github{
    width: 4rem;
    /* float: right; */
    /* color: black; */
    /* justify-content: right; */
    align-self: flex-end;
    padding: 1%;
}

@media (min-width: 2500px){
    .card{
        min-height:25vh;
        max-height:50vh;
    }
}

@media (max-width:1024px){
    .landing-page{
        background-attachment: scroll;
    }
    
    .personal{
        flex-direction: column;
    }
    #self{
        width:25vw;
    }
}
