@keyframes textChange {
  0%, 100% { content: "Code ... "; }
  25% { content: "Create ..."; }
  50% { content: "Design ..."; }
  75% { content: "Develop ..."; }
}

.text-change::after {
  content: ""; /* Initial content */
  animation: textChange 6s steps(1, end) infinite;
}